h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
}

.head {
	display: block;
	font-size: 1.5em;
	font-weight: bold;
	color: white;
}

body{
	background: #000; 
	url() fixed center 50px no-repeat;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.side-bar a {
	text-decoration: none;
}

.side-bar ul {
	list-style: none;
}

.header{
	padding: 20px;
	z-index: 2;
	background: green;
	max-width: 1240px;
	margin: 0px auto 0px auto;
	overflow: hidden;
	position: relative;
}

.navigation{	
	background: linear-gradient(to bottom, #222222, #161616);
	max-width: 1240px;
	margin: 0px auto 0px auto;
	left: 0;
	right: 0;
	position: relative;
	overflow: hidden;
	border-radius: 3px;
}

.header .logo a img{
	display: none;
}

.header .logo a{
	height: 60px;
	display: inline-block;
	background: url(../photos/logo/logo.jpg) no-repeat;
	background-size: 100%
}

.header .clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.header .logo{
	float: left;
	margin-top: 15px;
	line-height: 60px;
	height: 60px;
	font-size: 25px;
}

.header .leaderboard a img{

	width: 500;
	height: 100;
}

.header .leaderboard a{

	text-decoration: none;
}

.header .leaderboard{

	float: right;
}

.sponsors {

	margin: 0px auto 0px auto;
	left: 0;
	right: 0;
	max-width: 1240px;
	border-radius: 3px;
	position: relative;
	overflow: hidden;
	background-color: green;
}

.sponsors .flexslider .slides li {
	height: 200px;
}

.sponsors .flexslider {
	border-radius: 5px;
	padding: 5px;
}

.sponsors li a {
	display: block;
	height: 80px
}

.navigation a{
	color: #fff;
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
}

.navigation ul{
	position: relative;
}

.navigation li{
	display: inline-block;
	padding: 2px;
}

.navigation li:hover {
    color: grey;
}

.navigation ul{
	float: left;
}

.navigation .clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.navigation .social {
	float: right;
	right: 10px;
}

.social li{
	display: inline-block;
	background-color: blue;
	padding: 8px;
	border-radius: 3px;
	opacity: 0.7;
    filter: alpha(opacity=70);
}

.social li:hover{
	opacity: 1;
    filter: alpha(opacity=100);
} 

.social .anim-01{
	transition-property: all;
	transition-duration: 0.1s;
	transition-timing-function: linear;
	transition-delay: initial;
}

.social .twitch{
	background: #6441a5;
}

.social .facebook{
	  background: #3a5795;
}

.social .twitter{
	background: #55acee;
}

.social .google-plus{
	background: #d73d32;
}

.social .youtube{
	background: #cc181e;
}

.social .steam{
	background: #333;
}

.wrapper-content{
	max-width: 1240px;
	margin: 0px auto 0px auto;
	left: 0;
	right: 0;
	position: relative;
	padding: 4px;
}

.wrapper-content .slider{
	display: block;
	float: left;
	position: relative;
	width: 100%;
	max-width: 920px;
	padding: 0;
	overflow: hidden;
}

.wrapper-content .clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/*side bar*/

.wrapper-content .side-bar{
	background-color: #000;
	display: inline-block;
	float: right;
	width: 310;
	position: relative;
}

.wrapper-content .news{
	position: relative;	
	border-radius: 5px;	
	overflow: hidden;
	height: auto;
}

.news ul{
	padding: 6px 6px 6px 0;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 0;
	border-radius: 4px;
	background-color: #DCDCDC;
}

.news .news-item {
	display: inline-block;
	width: 50%;
	height: auto;
	border-radius: 8px;
	box-sizing: border-box;
	padding: 0 0 0 0;
	border-left: 6px solid #DCDCDC;
	overflow: hidden;
	background-color: #ffffff;
	margin-bottom: 5px;
}

.news-item h2{
	padding: 5px;
	display: block;
	margin: 10px;
}

.news-item .news-description{
	display: block;
	margin: 10px;	
	padding-bottom: 18px;
	border-bottom: 1px solid #D8D8D8;
}

.news-item .read-more{
	display: inline-block;
	position: relative;
	background-color: #202020;
	border: 0;
	color: #fff;
	padding: 8px;
	border-radius: 3px;
	font-family: 'Open Sans', sans-serif;
	opacity: 0.6;
	filter: alpha(opacity=60);
	text-transform: uppercase;
	margin-left: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	vertical-align: bottom;
}

.news-item .news-post{
	display: inline-block;
	padding-left: 8px;
	font-size: 12px;
	vertical-align: bottom;
	margin-bottom: 20px;
}

.news-item .news-reads{
	display: inline-block;
	float: right;
	border: 2px solid #FFCC66;	
	padding: 4px;
	margin-right: 20px;
	font-weight: 700;
}

.read-more:hover{
	opacity: 1;
	filter: alpha(opacity=100);
}

.news-item .news-image{
	width: 100%;
	height: 200px;
	position: relative;
	margin: 0 auto 0 auto;
	top:0;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	background-repeat: no-repeat;
	overflow: hidden;
}

.side-bar .streams-list .lead i {
	color: #e6a800;
}

.side-bar .streams-list {
	padding: 0px;
}

.side-bar .streams-list .lead {
	padding: 15px;
}

.side-bar .streams-list .is-stream {
	border: solid #222;
	border-width: 0 0 0 0;
	line-height: 30px;
	padding: 15px;
}

.side-bar .streams-list .is-stream a {
	position: relative;
}

.side-bar .streams-list .is-stream iframe {
	margin-bottom: 10px;
}

.vidcarousel .streams-list .is-stream .is-live {
	position: absolute;
	display: block;
	color: #ffffff;
}

.vidcarousel li {
	padding: 0;
	list-style-type: none;
}

/*.is-stream a img {
	width: 80px;
	height: 80px;
	float: left;
	border: solid 1px #585650;
	margin: 2px 2px 2px 2px;
}*/

.side-bar .streams-list li a img {
	width: 80px;
	height: 80px;
	float: left;
	border: solid 1px #585650;
	margin: 2px 2px 2px 2px;
}

.side-bar .streams-list li h2 {
	margin: 10px 0px 2px 96px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: #e6a800;
}

.side-bar .streams-list li h2 a {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: #e6a800;
}

.side-bar .streams-list li h2 a:hover {
	color: #F1CD6C;
}

.side-bar .streams-list li a img:hover {
	border: solid 1px #ACAAA8;
}



.side-bar .streams-list #take_look {
	text-decoration: none;
	color: #e6a800;
	margin-left: 10px;
	font-size: 12px;
}

.side-bar .streams-list #take_look:hover {
	color: #ffffff;
}

.is-stream #take_look:hover {
	color: #ffffff;
}

.is-stream h2 {
	margin-top: 10px;
	margin-bottom: 2px;
	margin-left: 96px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	color: #e6a800;
}

.is-stream h2:hover {
	color: #F1CD6C;
}

.vidcarousel p {
	color: #999;
	margin-left: 96px;
	margin-top: 2px;
	margin-bottom: 6px;
	font-size: 12px;
}

.vidcarousel ul li.lead {
	color: #e6a800;
	font-size: 20px;
	line-height: 30px;
	text-transform: uppercase;
	border-width: 0 0 4px 0;
}

.vidcarousel .widget-list li {
	border-bottom: solid 1px #222;
	padding: 0px 0px 5px 0px;
}

.vidcarousel .streams-list li {
	border-top: solid 1px #222;
	padding: 0px 0px 5px 15px;
}

.vidcarousel .streams-list {
	border-bottom: solid 4px #222;
	margin-bottom: 0px;
}

.widget-list img {
	width: 80px;
	height: 80px;
	float: left;
}

.widget-list h2 {
	margin-top: 10px;
	margin-bottom: 2px;
	margin-left: 96px;
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: #e6a800;
}

.vidcarousel p {
	color: #999;
	margin-left: 96px;
	margin-top: 6px;
	margin-bottom: 6px;
}

.side-bar .widget-list {
	padding: 0px;
	margin-top: 0px;
}

.side-bar .widget-list .lead {
	padding: 15px;
}

.side-bar .widget-list .photo-content {
	padding: 15px;
}

.side-bar .widget-list .photo-content h2 a {
	text-decoration: none;
	color: #e6a800;
}

.side-bar .widget-list .photo-content h2 a:hover {
	color: #F1CD6C;
}

.side-bar .widget-list .photo-content img {
	border: solid 1px #585650;
	margin: 2px 2px 2px 2px;
}

.side-bar .widget-list .photo-content img:hover {
	border: solid 1px #ACAAA8;
}

.side-bar .widget-list .photo-des a {
	text-decoration: none;
	color: #e6a800;
	margin-left: 10px;
	font-size: 12px;
}

.side-bar .widget-list .photo-des a:hover {
	color: #ffffff;
}

#twitter-feed h2 {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #ffffff;
}

#twitter-feed iframe {
	width: 300px;
	height: 600px;
}

#twitter-feed{
	margin-bottom: 20px;
}

#facebook-widget{
	margin-bottom: 10px;
}

/*footer forum activity */

#footer_forum_activity h2{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	border-bottom: solid 1px #222;
	border-width: 0 0 4px 0;
	padding: 10px 0px 10px 20px;
	margin: 0;
}

#footer_forum_activity ul {
	margin-top: 0;
	margin-bottom: 10px;
}

#footer_forum_activity .meta{
	font-size: 11px;
	margin-top: 3px;
	color: #777;
}

#footer_forum_activity h3 a{
	color: #fff;
	display: block;
}

#footer_forum_activity .comments{
	float: right;
	font-size: 14px;
	color: #E6A800;
	margin-top: 10px;
	border: solid 2px #4D4D4D;
	background-color: #222;
	padding: 3px 0 3px 0;
}

#footer_forum_activity .comments:hover{
	background-color: #000000;
	color: #ffffff;
}

#footer_forum_activity .comments span{
	padding-left: 4px;
	padding-right: 4px;

}

#footer_forum_activity .widget-list li {
    border-bottom: solid 1px #222;
	padding: 5px 10px 5px;
    overflow: hidden;
}

#footer_forum_activity .widget-list li:hover {
	background-color: #222;
}
#footer_forum_activity .widget-list li h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

#footer_forum_activity h3 a:hover{
	color: #E6A800;
}

/*comments*/
#footer_comment_activity h2{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	/*border: solid grey;*/
	border-bottom: solid 1px #222;
	border-width: 0 0 4px 0;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 10px 20px;
}

#footer_comment_activity .meta{
	font-size: 11px;
	margin-top: 3px;
	color: #777;
}

#footer_comment_activity h3 a{
	color: #fff;
	display: block;
}

#footer_comment_activity h3 a:hover{
	color: #E6A800;
}

#footer_comment_activity .comments{
	float: right;
	font-size: 14px;
	color: #E6A800;
	padding-top: 4x;
	border: solid 2px #4D4D4D;
	background-color: #222;
	padding: 3px 4px 3px 4px;
}

#footer_comment_activity .comments:hover{
	background-color: #000000;
	color: #ffffff;
}

#footer_comment_activity .comments span{
	padding-left: 4px;
	padding-right: 4px;

}

#footer_comment_activity .widget-list li {
	border-bottom: solid 1px #222;
	padding: 5px 10px 5px;
    overflow: hidden;
}

#footer_comment_activity .widget-list li:hover {
	background-color: #222;
}

#footer_comment_activity .widget-list li h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

#footer_comment_activity .widget-list li .comments {
	margin-top: 5px;
}

#footer_comment_activity .widget-list {
	margin-top: 0px
}
#flexslider-main li{
	height: 300px;
	overflow: hidden;
}

.flex-slide-caption {
	min-height: 20px;
	width: 100%;
	left: 0;
	bottom: 50;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9)); 
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.3);
	font-size: 14px;
	line-height: 18px;
	padding: 4px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
}

/*#flexslider-main .flex-slide-caption{
	min-height: 120px;
	padding: 8px;
	background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.3)); 
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	margin: 0 0 0 0;
}*/

 .flex-slide-caption h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	text-align: left;
	color: #FFCC33;
	position: relative;
	padding-left: 8px;
	margin: 3px;
}

 .flex-slide-caption p{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	text-align: left;
	color: #FFFFFF;
	position: relative;
	margin: 0;
	padding-left: 8px;
}


#flexslider-main .read-more{
	display: inline-block;
	position: relative;
	background-color: #000000;
	border: 0;
	color: #fff;	
	float: right;
	bottom: 20px;
	right: 30px;
	padding: 8px;
	border-radius: 5px;
	font-family: 'Open Sans', sans-serif;
	opacity: 0.4;
	filter: alpha(opacity=40);
	 text-transform: uppercase;
}

#flexslider-main .read-more:hover{
	opacity: 1;
	filter: alpha(opacity=100);
}

.anim-01{
	transition-property: all;
	transition-duration: 0.3s;
	transition-timing-function: linear;
	transition-delay: initial;
}